<!--<h1>App component</h1>-->


<!--<app-product-list></app-product-list>-->
<!--<a routerLink='products'>CLick me</a>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Home</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="products">Products</a>
      <a class="nav-item nav-link" href="#">Cart</a>
    </div>
  </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
