<div class="d-flex justify-content-between mb-5">
<div class="d-flex">
  <button (click)="onBack()" class="btn btn-primary">Back</button>
  <h2>Products</h2>
</div>
  <a routerLink='/products/add' class="btn btn-success">
    Add Product
  </a>
</div>
<div class="row">
<div *ngFor="let product of productList" class="col-md-4 card">
  <h3>
    <a [title]="product.name + ' details'">
      {{product.name}}
    </a>
  </h3>
  <p *ngIf="product.description">test
    {{product.description}}
  </p>
  <div class="d-flex justify-content-between">
  <button (click)="share()" class="btn btn-danger">Share</button>
  <app-alert
    [product]="product"
    (notified)="onNotify()"
  ></app-alert>
  </div>
</div>
</div>
